MONGODB_URL=mongodb+srv://reminder_user:CHANGEME@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=reminder_db

JWT_SECRET=your-32-character-secret-key-here

JWT_EXPIRE_MINUTES=1440

ENV=dev

EMOTION_PROVIDER=mock

EMOTION_SERVICE_URL=https://your-emotion-service-url.com
